*{
  margin: 0;
  padding: 0;
}

*,*::before,*::after{
  box-sizing: border-box;
}
body{
  background:#ccdbb1;
}

main,aside{
  color: black;
  display: flex;
}

footer{
  width: 100%;
}

header{
  height: 40px;
  background-color: #588157;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.enlaces{
  margin-right: 20px;
  list-style: none;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  display: flex;
}

.nav-link{
  color: antiquewhite;
  text-decoration: none;
  border-radius: 5px;
  padding: 5px;
}

.navegacion{
  font-size: 16px;
  margin:0 5px ;
  text-transform: uppercase;
  display: inline;

}

#github{
  width: 15%;
  height: 15%;
}

#spotify{
  width: 17%;
  height: 17%;
}
.estilo1{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.estilo1 #github{
  align-items: center;
}

.estilo2{
  width: 100px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.nav-link:hover{
  background-color: #d4a373;
  transition: 0.3s;
}

.logo{
  padding: 3px;
  height: 40px;
}

.logo{
  animation: rotate 5s infinite linear;
}

@keyframes rotate{
  0%{
    transform: rotate(0);
  }
  50%{
    transform: rotate(360deg);
  }
}
/* CONTENIDO PRINCIPAL ASIDE Y MAIN*/

.main{
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content:space-between;
}

/*aside*/

aside{
  width: 30%;
  flex-wrap: wrap;
  flex-direction: column;
  background-color:  #fefae0;
  border-radius: 20px;
  margin-left: 10px;
  margin-top: 10px;
  box-shadow: 4px 3px 9px 0px #000000;
}

.informacion{
  display: flex;
  width: 100%;
}

#foto{
  margin-left: 10px;;
  margin-top: 10px;
  width: 150px;
  height: 250px;
  border-radius: 30px;
  justify-content: flex-start;
}

.encabezado{
  width: 100%;
  margin-top: 30px;
  margin-left: 10px;
  font-family: "Marmelad", sans-serif;
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  color: #0d1b2a;
}

.datos{
  margin: 60px 0 0 10px;;
}

.dato {
  list-style: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
} 

b{
  text-decoration: underline;
}

.family{
  width: 100%;
  height: 35%;
  display: flex;
  padding: 10px;
}

.family h2{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #0d1b2a;
}

.title1,.study,.canciones-favoritas{
  text-decoration: underline;
}

.tabla1{
  width: 100%;
  height: 50%;
  margin-top: 10px;
  border-collapse: collapse ;
  justify-content: end;
}

.tabla1 th, td{
  width: 10px;
  text-align: center;
  border: 1px solid brown;
}

.container-family{
  width: 60%;
  display: flex;
  flex-direction: column;
  padding-right: 5px ;
}

.familia{
  width: 40%;
  object-fit: contain;
  border-radius: 50px;
}

.familia:hover{
  animation: escalar 3s;
}
@keyframes escalar {
  0%{
      transform: scale(1);
  }
  100%{
      transform: scale(1.8);
  }
}

.estudios{
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 10px 10px 10px 10px;
}

.estudios h2{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #0d1b2a;
}

.tabla2{
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse ;
}

.tabla2 th, td{
  width: 25px;
  text-align: center;
  border: 1px solid brown;
}

.videos h2,h3{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #0d1b2a;
  margin: 10px;
}

.videos{
  display: flex;
  flex-direction: column;
}

.videos iframe{
  margin: 10px;
  width: 90%;
}

.equipos{
  display: flex;
}

.millos{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.liverpool{
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding-left: 5px;
}

/*Main*/
.main{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  margin-top: 40px;
}
main{
  width: 70%;
  border-radius: 20px;
  background-color: #fefae0;
  font-family: "Darker Grotesque", sans-serif;
  font-optical-sizing: auto;
}

.container-main{
  width: 68%;
  margin-top: 10px;
  margin-right: 10px;
  box-shadow: -4px 3px 5px 0 #000000;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.contenido{
  display: flex;
  flex-wrap: wrap;
}

#Sobre{
  padding: 20px;
}

.contenido p{
  padding: 0 20px 20px 20px;
  text-align: justify;
  font-size: 25px;
}

.location{
  padding: 0 20px 0 40px;
  font-size: 20px;
  width: 100%;
}

.activity{
  padding-left: 25px;
}

.suesca,.palomino,.tota,.villa{
  display: flex;
  border-bottom: 1px solid brown;
}

.palomino,.tota,.villa{
  margin-top: 10px;
}

.lugares1{
  margin-right: 40px;  
}

.map-suesca{
  width: 50%;
  height: 50%;
  box-shadow: 4px -2px 7px 0;
}

.map-suesca iframe{
  width: 100%;
}

.lugares2{
  margin-right: 40px;  
}

.map-palomino{
  width: 50%;
  height: 50%;
  box-shadow: 4px -2px 7px 0;
}

.map-palomino iframe{
  width: 100%;
}

.lugares3{
  margin-right: 40px;  
}

.map-tota{
  width: 50%;
  height: 50%;
  box-shadow: 4px -2px 7px 0;
}

.map-tota iframe{
  width: 100%;
}

.lugares4{
  margin-right: 40px;  
}

.map-villa{
  width: 50%;
  height: 50%;
  box-shadow: 4px -2px 7px 0;
}

.map-villa iframe{
  width: 100%;
}

.proyectos{
  height: 15%;
}
.proyectos,.bootcamp{
  padding: 0 20px 20px 20px;
  font-size: 22px;
}

.proyectos h3{
  margin-left: 0;
}

.proyectos p{
  padding-left: 0;
}

.proyectos strong{
  text-transform: uppercase;
  font-size: 16px;
}

.proyectos img{
  width: 20px;
  height: 20px;
}

.programacion{
  height: 35%;
}
.programacion img{
  width: 40px;
  height: 40px;
}

.bootcamp h3{
  margin-left: 0;
}

.bootcamp p{
  padding-left: 0;
}


/* FOOTER*/

footer{
  background-color: #588157;
  height: 50px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.redes{
  display: flex;
  height: 40px;
  margin-top: 5px;
}

.face,.insta,.twitter{
  width: 40px;
  height: 35px;
  margin: 5px;
  text-align: center;
  line-height: 40px;
}

.facebook,.instagram,.twi{
  width: 20px;
  height: 20px;
}

.autor{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
}

.name-footer{
  font-family: "Darker Grotesque", sans-serif;
  font-size: 22px;
  font-weight: 500;
}


/**************RESPONSIVE****************/

/* DISPOSITIVOS MOVILES */

@media (min-width: 376px) and  (max-width: 768px){

 header{
    position: fixed;
    width: 100%;
  }
  
  .main{
    flex-direction: column-reverse;
  }

  aside{
    width: 95%;
    margin-right: 10px;
  }
  
  .encabezado{
    font-size: 17px;
  } 

  .equipos{
    width: 100%;
  }

  .team1{
    width: 50%;
    height: 100%;
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .team2{
    width: 50%;
    height: 100%;
  }

  .millos{
    object-fit:scale-down;
  }
  
  .liverpool{
    object-fit:none;
  }

  .container-main{
    width: 95%;
    margin-left: 10px;
  }

  .suesca,.palomino,.tota,.villa{
    flex-direction: column;

  }

  .lugares1,.lugares2,.lugares3,.lugares4{
    font-size: 28px;
  }

  .activity li{
    font-weight: 600;
    font-size: 23px;
    color: black;
  }

  .map-suesca{
    width: 100%;
    height: 50%;
    border: 1px solid black;
    margin-top: 10px;
  }

  .map-palomino{
    width: 100%;
    height: 50%;
    border: 1px solid black;
    margin-top: 10px;
  }
  .map-tota{
    width: 100%;
    height: 50%;
    border: 1px solid black;
    margin-top: 10px;
  }

  .map-villa{
    width: 100%;
    height: 50%;
    border: 1px solid black;
    margin-top: 10px;
  }
}


/* DISPOSITIVOS PC */

@media (min-width: 769px) and (max-width: 1366px){

  aside{
    width: 30%;
  }

  .encabezado{
    font-size: 11px;
  }

  .dato{
    font-size: 16px;
  }

  .family{
    height: 17%;
    padding-right: 5px ;
  }

  .container-family{
    padding: 0;
  }

  .container-main{
    width: 67%;
  }
}

/* PANTALLAS*/

@media (min-width: 1367px){

  .family{
    height: 20%;
  }
}